   .col-lg-4{
        text-align: center;
    }

    .navbar-text{
    	text-align: left;
    	color: black;
    	font-family: : "Times New Roman", Times, serif;
    	font-size: 75px;
    }

    .card-body-plant{
    	background-color: #e4ffcc;
    }

    .card-body-crafts{
        background-color: #f7cfc0;
    }

    .card-img-top{
    	width: 150px;
    	height: 150px;
    	text-align: center;
    }


    .p{
    	text-align: center;
    }